version: "3.9"

services:

  mongo:
    image: mongo:7
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

  backend:
    build: ./backend
    image: mnek1t/crypto-backend:latest
    restart: always
    env_file:
    - ./.env
    environment:
      MONGO_URI: ${MONGO_URI}
      MONGO_DB: ${MONGO_DB}
      POLYGON_API_KEY: ${POLYGON_API_KEY}
    volumes:
      - ./backend/model:/app/model       
    depends_on:
      - mongo
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    image: mnek1t/crypto-frontend:latest
    restart: always
    depends_on:
      - backend
    ports:
      - "3000:80"

volumes:
  mongo_data:
